<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css" />
<link rel="stylesheet" href="https://unpkg.com/primereact/resources/themes/lara-light-indigo/theme.css" />
<link rel="stylesheet" href="https://unpkg.com/primereact/resources/primereact.min.css" />
<link rel="stylesheet" href="https://unpkg.com/primeflex@2.0.0/primeflex.min.css" />
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-transition-group@4.4.2/dist/react-transition-group.js"></script>
<script src="https://unpkg.com/primereact/core/core.min.js"></script>
<script src="https://unpkg.com/primereact/primereact.all.min.js"></script>
<script type="text/babel">
  const App = () => {
    const [rows, setRows] = React.useState(2);
    const [first, setFirst] = React.useState(0);
    const [page, setPage] = React.useState(0);
    const [data, setData] = React.useState();

    const onPageChange = React.useCallback((e) => {
      setFirst(e.first);
      setPage(e.page);
      setRows(e.rows)
    }, [setPage, setRows, setFirst, data])

    React.useEffect(() => {
      fetch(`/inventory/api/inventory/status?o=${rows}&page=${page + 1}`)
        .then(response => response.json())
        .then(data => setData(data));
    }, [page, rows, setData])

    if (!data) return null

    return (
      <React.Fragment>
        <primereact.DataTable value={data.results} responsiveLayout="scroll">
          <primereact.Column field="commodity__name" header="commodity name" />
          <primereact.Column field="commodity__description" header="commodity description" />
          <primereact.Column field="receiving_quantity" header="receiving_quantity" />
          <primereact.Column field="shipping_quantity" header="shipping_quantity" />
        </primereact.DataTable>
        <primereact.Paginator first={first} rows={rows} totalRecords={data.count} rowsPerPageOptions={[2,5,10]} onPageChange={onPageChange} />
      </React.Fragment>
    )
  }

  const domContainer = document.querySelector('#main');
  ReactDOM.render(<App />, domContainer);
</script>
<div id="main"></div>